@{
    ViewBag.Title = "Contact";
}

<h2>Contact in case of any portal related issue.</h2>
<address>
   B 11 Kamakhya Villa<br />
    
    <abbr title="Phone">P:</abbr>
    8882972500
</address>

<address>
    <strong>Technical Support:</strong>   <a href="mailto:er.vishal.kmr@gmail.com">Vishal Kumar</a><br />
   
</address>